/* common styles css for parts body, header and footer 
in files index.html and porfolio.html */
.container {
  width: 1200px;
  margin: auto;
  padding: 0px 15px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* body */
:root {
  --text-color: #212121;
  --background-color: white;
  --text-selection-color: red;
  --background-selection-color: chartreuse;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*::selection {
  color: var(--text-selection-color);
  background-color: var(--background-selection-color);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* header */
.header {
  border: solid 1px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-color: #ececec;
}
.navigation {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  color: inherit;
  margin-right: 93px;
  color: #2196f3;
}

.logo--header {
  color: var(--text-color);
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;

  display: block;
}

.link__underline {
  margin: 0;
  position: relative;
}

.link--space {
  margin-right: 46px;
}

.link--last-item {
  margin-right: 0px;
}

.link__underline::after {
  content: "";
  position: absolute;
  background-color: rgba(33, 150, 243, 1);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
}

.link:hover,
.link:focus {
  color: #2196f3;
  transition: var(--transition);
}

.nav-contacts {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.nav-contacts--space {
  margin-left: 345px;
}

.nav-contact {
  margin-right: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

.nav-contact__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
  fill: #757575;
  transition: var(--transition);
}

.nav-contact__link--space-icon {
  margin-right: 10px;
}

.nav-contact:last-child {
  margin-right: 0px;
}

.nav-contacts a:hover,
.nav-contacts a:focus {
  fill: #2196f3;
  color: #2196f3;
}

/* footer */

.footer {
  display: flex;
  color: white;
  font-weight: 700;
  justify-content: center;
}

.footer--bg-footer {
  background-color: #2f303a;
  width: 100%;
  height: 100%;
}

.footer-contactsbox {
  display: flex;
  flex-direction: column;
}

.footer-contactsbox--spaces {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo--footer {
  color: white;
}

.footer-contacts {
  font-weight: 400;
}
.footer-contacts--spaces {
  margin-top: 20px;
}

.footer-contacts__adress {
  color: #ffffff;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0px;
  line-height: 24px;
}

.footer-contacts__adress--spaces {
  margin: 0px 0px 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  display: block;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: #2196f3;
  transition: var(--transition);
}

.footer-contacts__link--spaces {
  margin-bottom: 9px;
}

.footer-contacts__link--spaces:last-child {
  margin-bottom: 0px;
}

.footer-socialbox {
  display: flex;
  flex-direction: column;
}
.footer-socialbox--spaces {
  margin-top: 72px;
  margin-left: 70px;
}

.footer-socialbox-text {
  margin: 0;
  margin-bottom: 20px;
}

.footer-socialbox-linksbox__link {
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  fill: white;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialbox-linksbox {
  display: flex;
  gap: 10px;
}

.footer-socialbox-linksbox__link:hover,
.footer-socialbox-linksbox__link:focus {
  background-color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer {
  width: 570px;
}

.form-footer--spaces {
  margin-left: 76px;
  margin-top: 72px;
}

.form-footer-emailnewsletter {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.form-footer-emailnewsletter__text {
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.form-footer-emailnewsletter__input-area {
  height: 100%;
  width: 100%;
  line-height: 20px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transition);
  padding: 14px 15px;
}

.form-footer-emailnewsletter__input-area::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  padding-right: 295px;
}

.form-footer-emailnewsletter__text {
  cursor: pointer;
}

.form-footer-emailnewsletter__input-area:focus,
.form-footer-emailnewsletter__input-area:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-footer-emailnewsletter__btn {
  position: relative;
  height: 50px;
  background-color: rgba(33, 150, 243, 1);
  border: none;
  border-radius: 4px;
  box-sizing: content-box;
  padding-left: 42px;
  text-align: left;
  padding-right: 76px;
  padding-left: 42px;
  gap: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: white;
}

.form-footer-emailnewsletter__btn--positionsvg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(148px);
}

.form-footer-emailnewsletter__btn:hover,
.form-footer-emailnewsletter__btn:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition);
}

/* styles css for file index.html */

.container-main {
  width: 1600px;
  padding: 0px;
  margin: 0px auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-foto.jpg");
}

.main-section {
  margin: 0px auto;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.main-section__text {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  color: white;
  width: 696px;
  text-align: center;
  margin: 0px auto 30px;
  text-transform: uppercase;
}

.main-section__btn {
  color: white;
  background-color: #2196f3;
  max-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 41px 10px 42px;
  cursor: pointer;
  margin: 0px auto;
  border: none;
  position: relative;
  letter-spacing: 0.058rem;
  line-height: 30px;
  transition: var(--transition);
}

.main-section__btn:hover,
.main-section__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* madal-window start*/
.modal--is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.modal-window {
  width: 528px;
  height: 581px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}
.modal-window-form {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin: auto;
}

.modal-window-form__title {
  font-size: 20px;
  margin: 0 auto 12px;
  padding-top: 40px;
}

.modal-window-form-mainpart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-window-form-mainpart-box {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.modal-window-form-mainpart-box__text {
  margin: 0px;
  font-size: 12px;
  margin-bottom: 4px;
  color: rgba(117, 117, 117, 1);
}

.modal-window-form-mainpart-box__text:hover {
  cursor: pointer;
}

.modal-window-form-mainpart-box-inputbox {
  position: relative;
  transition: var(--transition);
}

.modal-window-form-mainpart-box-inputbox__inputarea {
  width: 100%;
  height: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
  font-size: 12px;
}

.modal-window-form-mainpart-box-inputbox:focus-within {
  fill: #2196f3;
}

.modal-window-form-mainpart-box-inputbox__inputarea:focus-within {
  border: 1px solid rgba(33, 150, 243, 1);
}

.modal-window-form-mainpart-box-inputbox__svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
}
.modal-window-form-mainpart-box-inputbox__svg:hover {
  cursor: pointer;
}

.modal-window-form-mainpart-box__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  font-size: 12px;
}

.modal-window-form-mainpart-box__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-window-form-mainpart-box__textarea:focus-within {
  border: 1px solid rgba(33, 150, 243, 1);
}

.modal-window-form-chekbox {
  display: flex;
  margin: 0 auto 30px;
  position: relative;
  color: rgba(117, 117, 117, 1);
  line-height: 24px;
  align-items: center;
}

.modal-window-form-chekbox:hover {
  cursor: pointer;
}

.modal-window-form-chekbox__input {
  appearance: none;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  height: 15px;
  margin-right: 8px;
  transition: var(--transition);
}

.modal-window-form-chekbox__svg {
  position: absolute;
  opacity: 0;
  transition: var(--transition);
}

.modal-window-form-chekbox__input:checked {
  border-color: #2196f3;
}

.modal-window-form-chekbox__input:checked + svg {
  opacity: 1;
}

.modal-window-form-chekbox_link {
  color: rgba(33, 150, 243, 1);
}

.modal-window-form-btn {
  background-color: #2196f3;
  padding: 10px 76px;
  color: white;
  border: none;
  border-radius: 4px;
  display: block;
  margin: auto;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 30px;
}

.modal-window-form-btn:hover,
.modal-window-form-btn:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-window-closebtn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0px;
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-window-closebtn:hover {
  cursor: pointer;
}

/* modal-window end*/

.section-information {
  margin: 0px auto;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.section-information-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 90px) / 4);
}

.section-information-box__image {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px;
  margin-bottom: 30px;
}

.section-information-box__image--position {
  margin: 0 auto;
}

.section-information-box__title {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 16.41px;
  margin: 0px;
  margin-bottom: 10px;
}

.section-information-box__text {
  color: #757575;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-size: 14px;
  margin: 0px;
}

.section-description {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}

.section-description__title {
  font-size: 36px;
  margin: 0px auto;
}

.section-description-imgbox {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin: 50px auto 0px;
  gap: 30px;
}

.section-description-imgbox-item {
  position: relative;
}

.section-description-imgbox-item__img {
  display: block;
}

.section-description-imgbox-item__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  text-align: center;
  font-weight: 700;
}

.section-team--bg-color {
  background-color: #f5f4fa;
}
.section-team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  flex-direction: column;
  justify-content: center;
}

.section-team__title {
  font-size: 36px;
  line-height: 42.19px;
  margin: 0px auto 50px;
}

.team-members {
  display: flex;
  gap: 30px;
}
.team-member__foto {
  font-size: 16px;
  color: #757575;
  text-align: center;
  margin: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member__information {
  padding: 30px 0px 30px;
  background-color: white;
}

.team-member__information--name {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: #212121;
  line-height: 19px;
}

.team-member__information--work-position {
  font-weight: 400px;
  margin: 0px;
  line-height: 19px;
}

.team-member-social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 16px auto 0px;
}

.team-member-social-links__img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-social-links__img:hover,
.team-member-social-links__img:focus {
  cursor: pointer;
  fill: white;
  background-color: #2196f3;
}

.section-customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-customers__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin: 94px auto 50px;
}
.section-customers-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}

.section-customers-box__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 31px 13px;
  width: calc((100% - 150px) / 6);
  transition: var(--transition);
  fill: #afb1b8;
}

.section-customers-box__item:hover,
.section-customers-box__item:focus {
  cursor: pointer;
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btns__btn {
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  height: 38px;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.portfolio-btns__btn:hover,
.portfolio-btns__btn:focus {
  background-color: #2196f3;
  border: none;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: var(--transition);
}

.portfolio-gridfotos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-slide {
  margin: 0px;
  width: calc((100% - 60px) / 3);
  position: relative;
}

.portfolio-figure {
  margin: 0px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.portfolio-figure__hidden-window {
  position: absolute;
  transform: translateY(294px);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 49px 45px 49px 24px;
  z-index: 1;
  transition: var(--transition);
}

.portfolio-figure__hidden-window > p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px;
}

.portfolio-figure__img {
  vertical-align: middle;
  position: relative;
}

.portfolio-figure__text {
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  padding-left: 24px;
  padding-top: 20px;
  letter-spacing: 0.06em;
  border: solid 1px;
  border-top: none;
  border-color: rgba(238, 238, 238, 1);
  background-color: var(--background-color);
}
.portfolio-figure:hover,
.portfolio-figure:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-figure:hover .portfolio-figure__hidden-window {
  transform: translateY(0%);
  transition: var(--transition);
}

.portfolio-figure__text > p {
  margin: 0px;
}

.portfolio-figure__text > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  display: block;
  margin-bottom: 20px;
}
